table, th, td {
    font-size: 21pt;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

h1{
    text-align: center;
}

.tableproducers{
    min-width: 450px;
}

.nextpage{
    font-size: 18pt;
}